# dependencias
node_modules/
**/node_modules/

# variaveis de ambiente
.env
**/.env
*.local
.env.development.local
.env.test.local
.env.production.local
# env.example (manter comentado)

# build vite e react
dist/
dist-ssr/
build/

# armazenamento local backend
uploads/
**/uploads/

# logs e so
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
**/.DS_Store
Thumbs.db
logs/

# relatorios - subir apenas .tex e .pdf
relatorio/*
!relatorio/*.tex
!relatorio/*.pdf